<!-- [nzVisible]="modalVisible" -->
<form nz-form *ngIf="modalVisible" [formGroup]="validateForm" (ngSubmit)="save()">
  <nz-modal [nzVisible]="modalVisible" [nzConfirmLoading]="loading" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="close($event)">
    <ng-template #modalTitle>
      <span *ngIf="organizationUnit.id">{{l("Edit")}}: {{organizationUnit.displayName}}</span>
      <span *ngIf="!organizationUnit.id">{{l("NewOrganizationUnit")}}</span>
    </ng-template>
    <ng-template #modalContent>
      <span>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="5">
            <label for="displayName" nz-form-item-required>{{l("OrganiaztionUnitName")}}</label>
          </div>
          <div nz-form-control nz-col [nzSm]="7" nzHasFeedback [nzValidateStatus]="getFormControl('displayName')">
            <nz-input formControlName="displayName" [(ngModel)]="organizationUnit.displayName" nzPlaceHolder="" [nzId]="'displayName'"></nz-input>
            <div nz-form-explain *ngIf="getFormControl('displayName').dirty&&getFormControl('displayName').hasError('maxlength')">字符长度大于等于32</div>
            <div nz-form-explain *ngIf="getFormControl('displayName').dirty&&getFormControl('displayName').hasError('required')">{{l("OrganiaztionUnitName")}}</div>
          </div>
        </div>
      </span>
    </ng-template>
    <!-- 保存/取消 按钮 -->
    <ng-template #modalFooter>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" type="button" (click)="close($event)">
        {{l("Cancel")}}
      </button>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [nzLoading]="saving">
        {{l("Save")}}
      </button>
    </ng-template>
  </nz-modal>
</form>
