<pro-header [title]="l('Roles')"></pro-header>
<nz-card [nzBordered]="false">
    <ng-template #extra>
        <button nz-button (click)="create()" [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-plus"></i>
            <span>{{l('Create')}}</span>
        </button>
    </ng-template>
    <nz-table #nzTable [nzDataSource]="dataItems" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize"
        [nzLoading]="loading" [nzShowSizeChanger]="true" (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()">
        <thead nz-thead>
            <tr>
                <th nz-th>
                    <span>{{l('Actions')}}</span>
                </th>
                <th nz-th>
                    <span>{{l('RoleName')}}</span>
                </th>

                <th nz-th>
                    <span>{{l('CreationTime')}}</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let item of nzTable.data">
                <td nz-td>
                    <nz-dropdown [nzTrigger]="'click'">
                        <a href class="ant-dropdown-link" nz-dropdown>
                            {{l('Actions')}}
                            <i class="anticon anticon-down"></i>
                        </a>
                        <ul nz-menu>
                            <li nz-menu-item>
                                <a (click)="edit(item)">{{l('Edit')}}</a>
                            </li>
                            <li nz-menu-item *ngIf="!item.isStatic">
                                <a (click)="delete(item)">{{l('Delete')}}</a>
                            </li>
                        </ul>
                    </nz-dropdown>
                </td>
                <td nz-td>
                    {{item.displayName}}
                    <nz-tag *ngIf="item.isStatic" [nzColor]="'#108ee9'">{{l('system')}}</nz-tag>
                    <nz-tag *ngIf="item.isDefault" [nzColor]="'#2db7f5'">{{l('default')}}</nz-tag>
                </td>
                <td nz-td>{{item.creationTime| toDate:'L'}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>