<nz-card [nzBordered]="false">
    <div class="gutter-example">
        <div nz-row [nzGutter]="8">
            <!-- 左边组织机构树 -->
            <div nz-col class="gutter-row" [nzSpan]="12">
                <organization-tree #ouTree (nodeClicked)="members.organizationUnit = $event"></organization-tree>
            </div>
            <!-- 右边组织机构树 -->
            <div nz-col class="gutter-row" [nzSpan]="12">
                <organization-unit-members #members></organization-unit-members>
            </div>
        </div>
    </div>
</nz-card>
